[submodule "Tests"]
	path = Tests
	url = https://github.com/rafaelvaloto/Gamepad-Core-Tests.git
[submodule "3rdParty/miniaudio"]
	path = 3rdParty/miniaudio
	url = https://github.com/mackron/miniaudio.git
